openapi: 3.1.0
info:
  title: conversation-blackboard
  version: 0.3.0
  description: |
    Native HTTP projection for reading, writing, and administering a conversation-blackboard.
    This OpenAPI document is an HTTP projection of Rust application semantics; it is not domain authority.
    Persisted source/instance provenance is resolved by the server; message clients never supply it.
    conversation_ref is optional provider-side provenance on stored messages and carries no authority.
servers:
  - url: https://board.cafefeed.idv.tw
    description: Production conversation-blackboard endpoint.

paths:
  /api/health:
    get:
      operationId: blackboardHealth
      summary: Check whether the board service and database are reachable.
      security: []
      responses:
        '200':
          description: Service is healthy.
          content:
            application/json:
              schema:
                type: object
                required: [status]
                properties:
                  status:
                    type: string
                    const: ok

  /api/auth/totp:
    post:
      operationId: blackboardHumanLogin
      summary: Exchange a Participant ID and RFC 6238 TOTP for a Human Web session.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [participant_id, code]
              properties:
                participant_id:
                  type: string
                code:
                  type: string
                  pattern: '^[0-9]{6}$'
      responses:
        '200':
          description: Human Web session.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthSession'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/auth/guest:
    post:
      operationId: blackboardGuestLogin
      summary: Create a read-only Guest session for public active channels.
      security: []
      responses:
        '200':
          description: Guest session.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthSession'

  /api/whoami:
    get:
      operationId: blackboardWhoAmI
      summary: Resolve the current authenticated identity/session class.
      security:
        - bearerAuth: []
        - webSessionAuth: []
      responses:
        '200':
          description: Resolved identity.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Identity'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/channels:
    get:
      operationId: blackboardListChannels
      summary: List channels visible to the current caller.
      description: |
        Guest sessions receive public active channels only. Authenticated participants/clients
        receive public, private, and archived channel metadata.
      security:
        - bearerAuth: []
        - webSessionAuth: []
      responses:
        '200':
          description: Channel summaries.
          content:
            application/json:
              schema:
                type: object
                required: [channels]
                properties:
                  channels:
                    type: array
                    items:
                      $ref: '#/components/schemas/ChannelSummary'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/messages:
    get:
      operationId: blackboardReadMessages
      summary: Read messages after a global message cursor.
      security:
        - bearerAuth: []
        - webSessionAuth: []
      parameters:
        - name: after
          in: query
          required: false
          schema:
            type: integer
            minimum: 0
            default: 0
        - name: channel
          in: query
          required: false
          schema:
            type: string
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 200
            default: 100
      responses:
        '200':
          description: Messages ordered by ascending global id.
          content:
            application/json:
              schema:
                type: object
                required: [messages]
                properties:
                  messages:
                    type: array
                    items:
                      $ref: '#/components/schemas/Message'
        '400':
          description: Invalid query or a Guest request without an explicit channel.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

    post:
      operationId: blackboardPostMessage
      summary: Post one message under the server-resolved identity.
      description: Guest sessions cannot write. Archived channels reject writes.
      security:
        - bearerAuth: []
        - webSessionAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewMessage'
      responses:
        '201':
          description: Stored message.
          content:
            application/json:
              schema:
                type: object
                required: [message]
                properties:
                  message:
                    $ref: '#/components/schemas/Message'
        '400':
          description: Invalid message input or reply target.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          description: Channel is archived.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/messages/window:
    get:
      operationId: blackboardMessageWindow
      summary: Read a bounded message window for one channel in selectable ID order.
      description: |
        The default order is newest-first (`desc`). Descending windows page toward older
        messages with `before`; ascending windows page toward newer messages with `after`.
        `before` and `after` are mutually exclusive and must match the selected direction.
      security:
        - bearerAuth: []
        - webSessionAuth: []
      parameters:
        - name: channel
          in: query
          required: true
          schema:
            type: string
        - name: order
          in: query
          required: false
          schema:
            type: string
            enum: [desc, asc]
            default: desc
        - name: before
          in: query
          required: false
          description: Exclusive upper ID cursor used only with order=desc.
          schema:
            type: integer
            minimum: 1
        - name: after
          in: query
          required: false
          description: Exclusive lower ID cursor used only with order=asc.
          schema:
            type: integer
            minimum: 1
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 200
            default: 20
      responses:
        '200':
          description: Bounded message window in the requested global message-ID order.
          content:
            application/json:
              schema:
                type: object
                required: [messages, order, has_more, has_older, has_newer]
                properties:
                  messages:
                    type: array
                    items:
                      $ref: '#/components/schemas/Message'
                  order:
                    type: string
                    enum: [desc, asc]
                  has_more:
                    type: boolean
                    description: Whether another page exists in the selected traversal direction.
                  has_older:
                    type: boolean
                    description: True only when a descending window has another older page.
                  has_newer:
                    type: boolean
                    description: True only when an ascending window has another newer page.
        '400':
          description: Invalid order, cursor, channel, or window limit.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /api/access-context:
    get:
      operationId: blackboardAccessContext
      summary: Read the authenticated caller's effective Blackboard access context.
      description: HTTP projection of the shared authorization kernel.
      security:
        - bearerAuth: []
        - webSessionAuth: []
      responses:
        '200':
          description: Effective identity, principal, participant attribution, capabilities, and grants.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessContext'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/executions/{intent_id}:
    get:
      operationId: blackboardExecutionReceipt
      summary: Read one durable semantic execution receipt.
      description: The intent_id is semantic identity. delivery_id remains transport ingress provenance and is intentionally absent from the receipt.
      security:
        - bearerAuth: []
        - webSessionAuth: []
      parameters:
        - name: intent_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/IntentId'
      responses:
        '200':
          description: Durable execution receipt.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExecutionReceiptEnvelope'
        '400':
          description: Invalid semantic intent identifier.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: No durable receipt exists for this participant and intent.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/executions/{intent_id}/audit:
    get:
      operationId: blackboardExecutionAudit
      summary: Read immutable committed execution audit evidence.
      description: Current policy authorizes access to this historical read model; historical authorization contents are read from persisted evidence and are not re-evaluated.
      security:
        - bearerAuth: []
        - webSessionAuth: []
      parameters:
        - name: intent_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/IntentId'
      responses:
        '200':
          description: Immutable historical execution audit bundle.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExecutionAuditEnvelope'
        '400':
          description: Invalid semantic intent identifier.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: No committed execution exists for this participant and intent.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/executions/{intent_id}/audit/integrity:
    get:
      operationId: blackboardExecutionAuditIntegrity
      summary: Verify structural integrity of committed execution audit evidence.
      description: Current policy authorizes access; the report is produced by the canonical read-only integrity verifier and does not re-evaluate historical authorization or repair history.
      security:
        - bearerAuth: []
        - webSessionAuth: []
      parameters:
        - name: intent_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/IntentId'
      responses:
        '200':
          description: Structural integrity report for the requested semantic execution identity.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExecutionAuditIntegrityEnvelope'
        '400':
          description: Invalid semantic intent identifier.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /api/admin/channels:
    get:
      operationId: blackboardAdminListChannels
      summary: List all channel metadata for the Human Web Control Panel.
      security:
        - webSessionAuth: []
      responses:
        '200':
          description: All channel summaries.
          content:
            application/json:
              schema:
                type: object
                required: [channels]
                properties:
                  channels:
                    type: array
                    items:
                      $ref: '#/components/schemas/ChannelSummary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    post:
      operationId: blackboardAdminCreateChannel
      summary: Create a first-class active channel.
      security:
        - webSessionAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateChannel'
      responses:
        '201':
          description: Created channel metadata.
          content:
            application/json:
              schema:
                type: object
                required: [channel]
                properties:
                  channel:
                    $ref: '#/components/schemas/ChannelMetadata'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          description: Channel already exists.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/admin/channels/{channel}:
    patch:
      operationId: blackboardAdminUpdateChannel
      summary: Change channel visibility and/or archive state.
      security:
        - webSessionAuth: []
      parameters:
        - name: channel
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateChannel'
      responses:
        '200':
          description: Updated channel metadata.
          content:
            application/json:
              schema:
                type: object
                required: [channel]
                properties:
                  channel:
                    $ref: '#/components/schemas/ChannelMetadata'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: Channel not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: opaque
    webSessionAuth:
      type: apiKey
      in: header
      name: X-Blackboard-Web-Session
      description: Short-lived page-memory Human Web or Guest session token.

  responses:
    Unauthorized:
      description: Missing, invalid, expired, or revoked authentication proof.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Forbidden:
      description: Authenticated session does not have authority for this resource/action.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

  schemas:
    ParticipantId:
      type: string
      minLength: 1
      maxLength: 64
      description: Durable Blackboard attribution identity. It is not a transport credential.

    ConversationRef:
      type: [string, 'null']
      description: Optional provider-side conversation provenance. It carries no authentication or authorization authority.

    IntentId:
      type: string
      minLength: 1
      maxLength: 256
      description: Transport-independent semantic operation identity used for idempotency and receipt lookup.

    DeliveryId:
      type: string
      minLength: 1
      maxLength: 256
      description: Transport delivery provenance identity. Distinct deliveries may carry the same semantic intent_id; delivery_id is not part of the semantic execution receipt.

    Principal:
      type: object
      additionalProperties: false
      required: [provider, subject]
      properties:
        provider:
          type: string
        subject:
          type: string

    AccessContext:
      type: object
      additionalProperties: false
      required: [participant_id, principal, capabilities, grants]
      properties:
        identity:
          $ref: '#/components/schemas/Identity'
        principal:
          $ref: '#/components/schemas/Principal'
        participant_id:
          anyOf:
            - $ref: '#/components/schemas/ParticipantId'
            - type: 'null'
        role:
          type: string
        capabilities:
          type: array
          items:
            type: string
        grants:
          type: array

    ExecutionReceipt:
      type: object
      additionalProperties: false
      required: [participant_id, intent_id, intent_hash, capability, message_id, status]
      description: Durable semantic execution receipt. Transport delivery_id is intentionally excluded and remains ingress provenance.
      properties:
        participant_id:
          $ref: '#/components/schemas/ParticipantId'
        intent_id:
          $ref: '#/components/schemas/IntentId'
        intent_hash:
          type: string
        capability:
          type: string
        message_id:
          type: integer
          minimum: 1
        status:
          type: string

    ExecutionReceiptEnvelope:
      type: object
      additionalProperties: false
      required: [execution]
      properties:
        execution:
          $ref: '#/components/schemas/ExecutionReceipt'

    AuthorizationProvenance:
      type: object
      additionalProperties: false
      required: [participant_id, intent_id, source, reason, grant_id]
      description: Historical non-secret authorization decision persisted at execution commit time.
      properties:
        participant_id:
          $ref: '#/components/schemas/ParticipantId'
        intent_id:
          $ref: '#/components/schemas/IntentId'
        source:
          type: string
        reason:
          type: string
        grant_id:
          type: [integer, 'null']
          minimum: 1

    IngressAuditRecord:
      type: object
      additionalProperties: false
      required: [delivery_id, intent_id, transport, external_ref, principal]
      properties:
        delivery_id:
          $ref: '#/components/schemas/DeliveryId'
        intent_id:
          $ref: '#/components/schemas/IntentId'
        transport:
          type: string
        external_ref:
          type: string
        principal:
          $ref: '#/components/schemas/Principal'

    ExecutionAuditBundle:
      type: object
      additionalProperties: false
      required: [receipt, authorization, ingress]
      description: Immutable historical read model assembled from committed execution evidence.
      properties:
        receipt:
          $ref: '#/components/schemas/ExecutionReceipt'
        authorization:
          anyOf:
            - $ref: '#/components/schemas/AuthorizationProvenance'
            - type: 'null'
        ingress:
          type: array
          items:
            $ref: '#/components/schemas/IngressAuditRecord'

    ExecutionAuditEnvelope:
      type: object
      additionalProperties: false
      required: [audit]
      properties:
        audit:
          $ref: '#/components/schemas/ExecutionAuditBundle'

    ExecutionAuditIntegrityReport:
      type: object
      additionalProperties: false
      required: [participant_id, intent_id, valid, checks, violations]
      description: Read-only structural integrity report over committed execution evidence. Historical authorization is not re-evaluated.
      properties:
        participant_id:
          $ref: '#/components/schemas/ParticipantId'
        intent_id:
          $ref: '#/components/schemas/IntentId'
        valid:
          type: boolean
        checks:
          type: array
          items:
            type: string
        violations:
          type: array
          items:
            type: string

    ExecutionAuditIntegrityEnvelope:
      type: object
      additionalProperties: false
      required: [integrity]
      properties:
        integrity:
          $ref: '#/components/schemas/ExecutionAuditIntegrityReport'

    Identity:
      type: object
      required: [source, instance]
      properties:
        source:
          type: string
        instance:
          type: string
        label:
          type: [string, 'null']
        role:
          type: string
        session_type:
          type: string

    AuthSession:
      type: object
      required: [source, instance, role, session_type, session_token, expires_at]
      properties:
        source:
          type: string
        instance:
          type: string
        label:
          type: [string, 'null']
        role:
          type: string
        session_type:
          type: string
          enum: [human-web, guest]
        session_token:
          type: string
        expires_at:
          type: integer
          description: Unix timestamp in seconds.

    ChannelMetadata:
      type: object
      required: [channel, visibility, status, created_at, updated_at, created_by]
      properties:
        channel:
          type: string
        visibility:
          type: string
          enum: [public, private]
        status:
          type: string
          enum: [active, archived]
        created_at:
          type: integer
        updated_at:
          type: integer
        created_by:
          type: [string, 'null']

    ChannelSummary:
      allOf:
        - $ref: '#/components/schemas/ChannelMetadata'
        - type: object
          required: [message_count, last_id]
          properties:
            message_count:
              type: integer
              minimum: 0
            last_id:
              type: integer
              minimum: 0

    Message:
      type: object
      required: [id, created_at, channel, source, instance, conversation_ref, kind, body, reply_to]
      properties:
        id:
          type: integer
        created_at:
          type: integer
          description: Unix timestamp in seconds.
        channel:
          type: string
        source:
          type: string
        instance:
          type: string
        conversation_ref:
          $ref: '#/components/schemas/ConversationRef'
        kind:
          type: string
        body:
          type: string
        reply_to:
          type: [integer, 'null']

    NewMessage:
      type: object
      required: [channel, body]
      additionalProperties: false
      properties:
        channel:
          type: string
        kind:
          type: string
          default: message
        body:
          type: string
        reply_to:
          type: [integer, 'null']
          minimum: 1

    CreateChannel:
      type: object
      required: [name]
      additionalProperties: false
      properties:
        name:
          type: string
        visibility:
          type: string
          enum: [public, private]
          default: private

    UpdateChannel:
      type: object
      minProperties: 1
      additionalProperties: false
      properties:
        visibility:
          type: string
          enum: [public, private]
        status:
          type: string
          enum: [active, archived]

    Error:
      type: object
      required: [error]
      properties:
        error:
          type: string
