openapi: 3.1.0
info:
  title: conversation-blackboard
  version: 0.3.0
  description: |
    Native HTTP projection for reading, writing, and administering a conversation-blackboard.
    This OpenAPI document is an HTTP projection of Rust application semantics; it is not domain authority.
    Persisted source/instance provenance is resolved by the server; message clients never supply it.
    conversation_ref is optional provider-side provenance on stored messages and carries no authority.
servers:
  - url: https://board.cafefeed.idv.tw
    description: Production conversation-blackboard endpoint.

paths:
  /api/health:
    get:
      operationId: blackboardHealth
      summary: Check whether the board service and database are reachable.
      security: []
      responses:
        '200':
          description: Service is healthy.
          content:
            application/json:
              schema:
                type: object
                required: [status]
                properties:
                  status:
                    type: string
                    const: ok

  /api/auth/totp:
    post:
      operationId: blackboardHumanLogin
      summary: Exchange a Participant ID and RFC 6238 TOTP for a Human Web session.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [participant_id, code]
              properties:
                participant_id:
                  type: string
                code:
                  type: string
                  pattern: '^[0-9]{6}$'
      responses:
        '200':
          description: Human Web session.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthSession'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/auth/guest:
    post:
      operationId: blackboardGuestLogin
      summary: Create a read-only Guest session for public active channels.
      security: []
      responses:
        '200':
          description: Guest session.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthSession'

  /api/whoami:
    get:
      operationId: blackboardWhoAmI
      summary: Resolve the current authenticated identity/session class.
      security:
        - bearerAuth: []
        - webSessionAuth: []
      responses:
        '200':
          description: Resolved identity.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Identity'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/channels:
    get:
      operationId: blackboardListChannels
      summary: List channels visible to the current caller.
      description: |
        Guest sessions receive public active channels only. Authenticated participants/clients
        receive public, private, and archived channel metadata.
      security:
        - bearerAuth: []
        - webSessionAuth: []
      parameters:
        - name: after_name
          in: query
          required: false
          description: Exclusive channel-name cursor for stable ascending directory traversal.
          schema:
            type: string
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 200
            default: 20
      responses:
        '200':
          description: Bounded channel directory window ordered by stable channel name.
          content:
            application/json:
              schema:
                type: object
                required: [channels, has_more]
                properties:
                  channels:
                    type: array
                    items:
                      $ref: '#/components/schemas/ChannelSummary'
                  has_more:
                    type: boolean
        '400':
          description: Invalid channel cursor or window limit.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/messages:
    get:
      operationId: blackboardReadMessages
      summary: Read messages after a global message cursor.
      security:
        - bearerAuth: []
        - webSessionAuth: []
      parameters:
        - name: after
          in: query
          required: false
          schema:
            type: integer
            minimum: 0
            default: 0
        - name: channel
          in: query
          required: false
          schema:
            type: string
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 200
            default: 100
      responses:
        '200':
          description: Messages ordered by ascending global id.
          content:
            application/json:
              schema:
                type: object
                required: [messages]
                properties:
                  messages:
                    type: array
                    items:
                      $ref: '#/components/schemas/Message'
        '400':
          description: Invalid query or a Guest request without an explicit channel.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

    post:
      operationId: blackboardPostMessage
      summary: Post one message under the server-resolved identity.
      description: Guest sessions cannot write. Archived channels reject writes.
      security:
        - bearerAuth: []
        - webSessionAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewMessage'
      responses:
        '201':
          description: Stored message.
          content:
            application/json:
              schema:
                type: object
                required: [message]
                properties:
                  message:
                    $ref: '#/components/schemas/Message'
        '400':
          description: Invalid message input or reply target.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          description: Channel is archived.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/messages/window:
    get:
      operationId: blackboardMessageWindow
      summary: Read a bounded message window for one channel in selectable ID order.
      description: |
        The default order is newest-first (`desc`). Descending windows page toward older
        messages with `before`; ascending windows page toward newer messages with `after`.
        `before` and `after` are mutually exclusive and must match the selected direction.
      security:
        - bearerAuth: []
        - webSessionAuth: []
      parameters:
        - name: channel
          in: query
          required: true
          schema:
            type: string
        - name: order
          in: query
          required: false
          schema:
            type: string
            enum: [desc, asc]
            default: desc
        - name: before
          in: query
          required: false
          description: Exclusive upper ID cursor used only with order=desc.
          schema:
            type: integer
            minimum: 1
        - name: after
          in: query
          required: false
          description: Exclusive lower ID cursor used only with order=asc.
          schema:
            type: integer
            minimum: 1
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 200
            default: 20
      responses:
        '200':
          description: Bounded message window in the requested global message-ID order.
          content:
            application/json:
              schema:
                type: object
                required: [messages, order, has_more, has_older, has_newer]
                properties:
                  messages:
                    type: array
                    items:
                      $ref: '#/components/schemas/Message'
                  order:
                    type: string
                    enum: [desc, asc]
                  has_more:
                    type: boolean
                    description: Whether another page exists in the selected traversal direction.
                  has_older:
                    type: boolean
                    description: True only when a descending window has another older page.
                  has_newer:
                    type: boolean
                    description: True only when an ascending window has another newer page.
        '400':
          description: Invalid order, cursor, channel, or window limit.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /api/access-context:
    get:
      operationId: blackboardAccessContext
      summary: Read the authenticated caller's effective Blackboard access context.
      description: HTTP projection of the shared authorization kernel. The read refuses stale authorization schema and never repairs it.
      security:
        - bearerAuth: []
        - webSessionAuth: []
      responses:
        '200':
          description: Effective identity, principal, participant attribution, capabilities, and grants.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessContext'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          description: Authorization schema is not current or storage is unavailable. The access-context read does not migrate or repair schema.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/executions/{intent_id}:
    get:
      operationId: blackboardExecutionReceipt
      summary: Read one durable semantic execution receipt.
      description: The intent_id is semantic identity. delivery_id remains transport ingress provenance and is intentionally absent from the receipt.
      security:
        - bearerAuth: []
        - webSessionAuth: []
      parameters:
        - name: intent_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/IntentId'
      responses:
        '200':
          description: Durable execution receipt.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExecutionReceiptEnvelope'
        '400':
          description: Invalid semantic intent identifier.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: No durable receipt exists for this participant and intent.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/executions/{intent_id}/audit:
    get:
      operationId: blackboardExecutionAudit
      summary: Read immutable committed execution audit evidence.
      description: Current policy authorizes access to this historical read model; historical authorization contents are read from persisted evidence and are not re-evaluated.
      security:
        - bearerAuth: []
        - webSessionAuth: []
      parameters:
        - name: intent_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/IntentId'
      responses:
        '200':
          description: Immutable historical execution audit bundle.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExecutionAuditEnvelope'
        '400':
          description: Invalid semantic intent identifier.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: No committed execution exists for this participant and intent.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/executions/{intent_id}/audit/integrity:
    get:
      operationId: blackboardExecutionAuditIntegrity
      summary: Verify structural integrity of committed execution audit evidence.
      description: Current policy authorizes access; the report is produced by the canonical read-only integrity verifier and does not re-evaluate historical authorization or repair history.
      security:
        - bearerAuth: []
        - webSessionAuth: []
      parameters:
        - name: intent_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/IntentId'
      responses:
        '200':
          description: Structural integrity report for the requested semantic execution identity.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExecutionAuditIntegrityEnvelope'
        '400':
          description: Invalid semantic intent identifier.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /api/execution-audit/sweep:
    get:
      operationId: blackboardExecutionAuditSweep
      summary: Verify database-wide execution audit integrity.
      description: Privileged projection of the canonical read-only execution audit sweep. Invalid integrity state is returned as report data with HTTP 200; the endpoint does not repair history.
      security:
        - bearerAuth: []
        - webSessionAuth: []
      responses:
        '200':
          description: Canonical database-wide execution audit sweep report.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExecutionAuditSweepEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /api/authorization-administration/history:
    get:
      operationId: blackboardAuthorizationAdministrationHistory
      summary: Read immutable authorization-administration provenance.
      description: |
        Privileged read-only projection of the canonical authorization administration history.
        The dedicated read_authorization_administration_history capability is independent from
        manage_authorization_policy. The optional participant_id query filters returned events;
        it does not narrow or widen reader authority. The endpoint uses read-only storage and
        never migrates, repairs, consumes, creates, reactivates, or deactivates authorization state.
      security:
        - bearerAuth: []
        - webSessionAuth: []
      parameters:
        - name: participant_id
          in: query
          required: false
          description: Optional returned-history filter; not an authorization scope.
          schema:
            $ref: '#/components/schemas/ParticipantId'
        - name: order
          in: query
          required: false
          schema:
            type: string
            enum: [desc, asc]
            default: desc
        - name: before
          in: query
          required: false
          description: Exclusive event-id upper cursor used only with order=desc.
          schema:
            type: integer
            minimum: 1
        - name: after
          in: query
          required: false
          description: Exclusive event-id lower cursor used only with order=asc.
          schema:
            type: integer
            minimum: 1
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 200
            default: 20
      responses:
        '200':
          description: Canonical bounded authorization-administration history window in requested event-id order.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthorizationAdministrationHistoryEnvelope'
        '400':
          description: Invalid participant filter, order, cursor, or window limit.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '503':
          description: Authorization administration schema is not current or storage is unavailable. The read does not repair schema.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/authorization-grants/durable:
    post:
      operationId: blackboardCreateDurableAuthorizationGrant
      summary: Create, reuse, or reactivate one durable authorization grant.
      description: |
        Privileged Phase-1 projection of the canonical authorization administration service.
        The dedicated manage_authorization_policy authority is required. Human Web admin self
        has narrow implicit administration authority; external Bearer callers require an explicit
        durable administration grant. Participant-HMAC mutation is unsupported in Phase 1.
        The adapter does not own lifecycle SQL or schema migration.
      security:
        - bearerAuth: []
        - webSessionAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DurableAuthorizationGrantCreateRequest'
      responses:
        '200':
          description: Existing active scope reused or inactive exact scope reactivated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthorizationGrantMutationEnvelope'
        '201':
          description: New durable grant created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthorizationGrantMutationEnvelope'
        '400':
          description: Invalid grant request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '503':
          description: Authorization administration schema is not current or storage is unavailable. The request does not repair schema.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/authorization-grants/durable/{grant_id}:
    delete:
      operationId: blackboardDeactivateDurableAuthorizationGrant
      summary: Deactivate one durable authorization grant scope.
      description: |
        Privileged Phase-1 projection of canonical durable-grant deactivation. Administration
        authorization, effective lifecycle mutation, and non-secret actor provenance commit in one
        transaction. Participant-HMAC mutation is unsupported in Phase 1.
      security:
        - bearerAuth: []
        - webSessionAuth: []
      parameters:
        - name: grant_id
          in: path
          required: true
          schema:
            type: integer
            minimum: 1
      responses:
        '200':
          description: Grant scope is inactive. Repeated deactivation is idempotent and reports rows_changed=0.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthorizationGrantMutationEnvelope'
        '400':
          description: Invalid grant identifier.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: Durable grant not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '503':
          description: Authorization administration schema is not current or storage is unavailable. The request does not repair schema.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/authorization-grants/delegated:
    post:
      operationId: blackboardCreateDelegatedAuthorizationGrant
      summary: Create one delegated authorization grant.
      description: |
        Privileged Phase-1 projection of canonical delegated grant creation. Resource, semantic
        intent, expiry, and one-shot validation remain owned by the canonical administration
        service. Participant-HMAC mutation is unsupported in Phase 1.
      security:
        - bearerAuth: []
        - webSessionAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DelegatedAuthorizationGrantCreateRequest'
      responses:
        '201':
          description: New delegated grant created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthorizationGrantMutationEnvelope'
        '400':
          description: Invalid delegated grant request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '503':
          description: Authorization administration schema is not current or storage is unavailable. The request does not repair schema.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/authorization-grants/delegated/{grant_id}:
    delete:
      operationId: blackboardDeactivateDelegatedAuthorizationGrant
      summary: Deactivate one delegated authorization grant.
      description: |
        Privileged Phase-1 projection of canonical delegated-grant deactivation. Delegated scope
        remains part of administration provenance, and repeated deactivation is idempotent.
        Participant-HMAC mutation is unsupported in Phase 1.
      security:
        - bearerAuth: []
        - webSessionAuth: []
      parameters:
        - name: grant_id
          in: path
          required: true
          schema:
            type: integer
            minimum: 1
      responses:
        '200':
          description: Delegated grant is inactive. Repeated deactivation reports rows_changed=0.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthorizationGrantMutationEnvelope'
        '400':
          description: Invalid grant identifier.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: Delegated grant not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '503':
          description: Authorization administration schema is not current or storage is unavailable. The request does not repair schema.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/authorization-decision/explain:
    get:
      operationId: blackboardAuthorizationDecision
      summary: Explain one Blackboard authorization decision.
      description: Privileged read-only projection of the canonical authorization decision evaluator. The authenticated caller is authorized separately from the target Principal being explained. A denied target decision is successful explanation data with HTTP 200. Query parameters are part of the authenticated request target for participant-HMAC HTTP callers. The read never consumes delegated authority and legacy authorization schemas fail without migration.
      security:
        - bearerAuth: []
        - webSessionAuth: []
      parameters:
        - name: principal_provider
          in: query
          required: true
          schema:
            type: string
            minLength: 1
            maxLength: 256
        - name: principal_subject
          in: query
          required: true
          schema:
            type: string
            minLength: 1
            maxLength: 256
        - name: participant_id
          in: query
          required: true
          description: Target Blackboard participant whose authorization context is evaluated; this is not the authenticated caller identity.
          schema:
            $ref: '#/components/schemas/ParticipantId'
        - name: capability
          in: query
          required: true
          schema:
            type: string
            minLength: 1
            maxLength: 128
        - name: resource
          in: query
          required: false
          schema:
            type: string
            minLength: 1
            maxLength: 256
        - name: intent_id
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/IntentId'
      responses:
        '200':
          description: Canonical non-secret authorization decision explanation. Both allowed and denied target decisions are returned here after caller authorization succeeds.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthorizationDecisionEnvelope'
        '400':
          description: Invalid target principal or authorization context.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '503':
          description: Authorization schema is not current. The read does not migrate or repair it.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/authorization-policy:
    get:
      operationId: blackboardAuthorizationPolicy
      summary: Read one bounded explicit Blackboard authorization policy window.
      description: Privileged projection of the canonical selected-store authorization policy window. Exactly one of the durable or delegated grant arrays is populated. Pagination changes observation selection only; read_authorization_policy authority remains global and unchanged. The read never creates, repairs, normalizes, reactivates, deactivates, or consumes authority, and legacy authorization schemas fail without migration.
      security:
        - bearerAuth: []
        - webSessionAuth: []
      parameters:
        - name: store
          in: query
          required: true
          description: Select the independent durable or delegated grant ID domain to traverse.
          schema:
            type: string
            enum: [durable, delegated]
        - name: order
          in: query
          required: false
          schema:
            type: string
            enum: [desc, asc]
            default: desc
        - name: before
          in: query
          required: false
          description: Exclusive grant-id upper cursor used only with order=desc within the selected store.
          schema:
            type: integer
            minimum: 1
        - name: after
          in: query
          required: false
          description: Exclusive grant-id lower cursor used only with order=asc within the selected store.
          schema:
            type: integer
            minimum: 1
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 200
            default: 20
      responses:
        '200':
          description: Canonical bounded selected-store authorization policy window.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthorizationPolicyEnvelope'
        '400':
          description: Missing or invalid store, order, cursor, or window limit.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '503':
          description: Authorization schema is not current. The read does not migrate or repair it.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/authorization-policy/integrity:
    get:
      operationId: blackboardAuthorizationPolicyIntegrity
      summary: Verify integrity of durable authorization policy objects.
      description: Privileged projection of the canonical read-only authorization-policy integrity audit. Invalid policy state is returned as report data with HTTP 200; legacy authorization schemas fail without migration or repair.
      security:
        - bearerAuth: []
        - webSessionAuth: []
      responses:
        '200':
          description: Canonical authorization-policy integrity report.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthorizationIntegrityEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '503':
          description: Authorization schema is not current. The read does not migrate or repair it.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/admin/channels:
    get:
      operationId: blackboardAdminListChannels
      summary: List a bounded window of channel metadata for the Human Web Control Panel.
      security:
        - webSessionAuth: []
      parameters:
        - name: after_name
          in: query
          required: false
          description: Exclusive channel-name cursor for stable ascending directory traversal.
          schema:
            type: string
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 200
            default: 20
      responses:
        '200':
          description: Bounded channel directory window ordered by stable channel name.
          content:
            application/json:
              schema:
                type: object
                required: [channels, has_more]
                properties:
                  channels:
                    type: array
                    items:
                      $ref: '#/components/schemas/ChannelSummary'
                  has_more:
                    type: boolean
        '400':
          description: Invalid channel cursor or window limit.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    post:
      operationId: blackboardAdminCreateChannel
      summary: Create a first-class active channel.
      security:
        - webSessionAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateChannel'
      responses:
        '201':
          description: Created channel metadata.
          content:
            application/json:
              schema:
                type: object
                required: [channel]
                properties:
                  channel:
                    $ref: '#/components/schemas/ChannelMetadata'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          description: Channel already exists.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/admin/channels/{channel}:
    patch:
      operationId: blackboardAdminUpdateChannel
      summary: Change channel visibility and/or archive state.
      security:
        - webSessionAuth: []
      parameters:
        - name: channel
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateChannel'
      responses:
        '200':
          description: Updated channel metadata.
          content:
            application/json:
              schema:
                type: object
                required: [channel]
                properties:
                  channel:
                    $ref: '#/components/schemas/ChannelMetadata'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: Channel not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: opaque
    webSessionAuth:
      type: apiKey
      in: header
      name: X-Blackboard-Web-Session
      description: Short-lived page-memory Human Web or Guest session token.

  responses:
    Unauthorized:
      description: Missing, invalid, expired, or revoked authentication proof.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Forbidden:
      description: Authenticated session does not have authority for this resource/action.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

  schemas:
    ParticipantId:
      type: string
      minLength: 1
      maxLength: 64
      description: Durable Blackboard attribution identity. It is not a transport credential.

    ConversationRef:
      type: [string, 'null']
      description: Optional provider-side conversation provenance. It carries no authentication or authorization authority.

    IntentId:
      type: string
      minLength: 1
      maxLength: 256
      description: Transport-independent semantic operation identity used for idempotency and receipt lookup.

    DeliveryId:
      type: string
      minLength: 1
      maxLength: 256
      description: Transport delivery provenance identity. Distinct deliveries may carry the same semantic intent_id; delivery_id is not part of the semantic execution receipt.

    Principal:
      type: object
      additionalProperties: false
      required: [provider, subject]
      properties:
        provider:
          type: string
        subject:
          type: string

    AccessContext:
      type: object
      additionalProperties: false
      required: [participant_id, principal, capabilities, grants]
      properties:
        identity:
          $ref: '#/components/schemas/Identity'
        principal:
          $ref: '#/components/schemas/Principal'
        participant_id:
          anyOf:
            - $ref: '#/components/schemas/ParticipantId'
            - type: 'null'
        role:
          type: string
        capabilities:
          type: array
          items:
            type: string
        grants:
          type: array

    ExecutionReceipt:
      type: object
      additionalProperties: false
      required: [participant_id, intent_id, intent_hash, capability, message_id, status]
      description: Durable semantic execution receipt. Transport delivery_id is intentionally excluded and remains ingress provenance.
      properties:
        participant_id:
          $ref: '#/components/schemas/ParticipantId'
        intent_id:
          $ref: '#/components/schemas/IntentId'
        intent_hash:
          type: string
        capability:
          type: string
        message_id:
          type: integer
          minimum: 1
        status:
          type: string

    ExecutionReceiptEnvelope:
      type: object
      additionalProperties: false
      required: [execution]
      properties:
        execution:
          $ref: '#/components/schemas/ExecutionReceipt'

    AuthorizationProvenance:
      type: object
      additionalProperties: false
      required: [participant_id, intent_id, principal, capability, resource, source, reason, grant_id]
      description: Historical non-secret authorization decision and admitted request context persisted at execution commit time. Legacy principal/resource fields may remain null when they cannot be recovered without policy reconstruction.
      properties:
        participant_id:
          $ref: '#/components/schemas/ParticipantId'
        intent_id:
          $ref: '#/components/schemas/IntentId'
        principal:
          anyOf:
            - $ref: '#/components/schemas/Principal'
            - type: 'null'
        capability:
          type: [string, 'null']
        resource:
          type: [string, 'null']
        source:
          type: string
        reason:
          type: string
        grant_id:
          type: [integer, 'null']
          minimum: 1

    IngressAuditRecord:
      type: object
      additionalProperties: false
      required: [participant_id, delivery_id, intent_id, transport, external_ref, principal]
      properties:
        participant_id:
          $ref: '#/components/schemas/ParticipantId'
        delivery_id:
          $ref: '#/components/schemas/DeliveryId'
        intent_id:
          $ref: '#/components/schemas/IntentId'
        transport:
          type: string
        external_ref:
          type: string
        principal:
          $ref: '#/components/schemas/Principal'

    ExecutionAuditBundle:
      type: object
      additionalProperties: false
      required: [receipt, authorization, ingress]
      description: Immutable historical read model assembled from committed execution evidence.
      properties:
        receipt:
          $ref: '#/components/schemas/ExecutionReceipt'
        authorization:
          anyOf:
            - $ref: '#/components/schemas/AuthorizationProvenance'
            - type: 'null'
        ingress:
          type: array
          items:
            $ref: '#/components/schemas/IngressAuditRecord'

    ExecutionAuditEnvelope:
      type: object
      additionalProperties: false
      required: [audit]
      properties:
        audit:
          $ref: '#/components/schemas/ExecutionAuditBundle'

    ExecutionAuditIntegrityReport:
      type: object
      additionalProperties: false
      required: [participant_id, intent_id, valid, checks, violations]
      description: Read-only structural integrity report over committed execution evidence. Historical authorization is not re-evaluated.
      properties:
        participant_id:
          $ref: '#/components/schemas/ParticipantId'
        intent_id:
          $ref: '#/components/schemas/IntentId'
        valid:
          type: boolean
        checks:
          type: array
          items:
            type: string
        violations:
          type: array
          items:
            type: string

    ExecutionAuditIntegrityEnvelope:
      type: object
      additionalProperties: false
      required: [integrity]
      properties:
        integrity:
          $ref: '#/components/schemas/ExecutionAuditIntegrityReport'

    ExecutionAuditOrphanEvidence:
      type: object
      additionalProperties: false
      required: [kind, participant_id, intent_id, reference]
      description: Read-only classification of durable execution evidence that cannot be attached to a committed receipt identity.
      properties:
        kind:
          type: string
        participant_id:
          anyOf:
            - $ref: '#/components/schemas/ParticipantId'
            - type: 'null'
        intent_id:
          $ref: '#/components/schemas/IntentId'
        reference:
          type: [string, 'null']

    ExecutionAuditSweepReport:
      type: object
      additionalProperties: false
      required: [valid, executions_scanned, invalid_executions, orphan_evidence]
      description: Canonical database-wide read-only execution audit integrity sweep.
      properties:
        valid:
          type: boolean
        executions_scanned:
          type: integer
          minimum: 0
        invalid_executions:
          type: array
          items:
            $ref: '#/components/schemas/ExecutionAuditIntegrityReport'
        orphan_evidence:
          type: array
          items:
            $ref: '#/components/schemas/ExecutionAuditOrphanEvidence'

    ExecutionAuditSweepEnvelope:
      type: object
      additionalProperties: false
      required: [sweep]
      properties:
        sweep:
          $ref: '#/components/schemas/ExecutionAuditSweepReport'

    AuthorizationAdministrationEvent:
      type: object
      additionalProperties: false
      required: [id, grant_store, grant_id, operation, actor_surface, actor_provider, actor_subject, actor_participant_id, target_principal_provider, target_principal_subject, participant_id, capability, resource, intent_id, expires_at, one_shot, before_status, after_status, created_at]
      description: Immutable non-secret authorization-administration provenance for one effective policy mutation.
      properties:
        id:
          type: integer
          minimum: 1
        grant_store:
          type: string
          enum: [durable, delegated]
        grant_id:
          type: integer
          minimum: 1
        operation:
          type: string
          enum: [create, reactivate, deactivate]
        actor_surface:
          type: string
        actor_provider:
          type: [string, 'null']
        actor_subject:
          type: [string, 'null']
        actor_participant_id:
          anyOf:
            - $ref: '#/components/schemas/ParticipantId'
            - type: 'null'
        target_principal_provider:
          type: string
        target_principal_subject:
          type: string
        participant_id:
          $ref: '#/components/schemas/ParticipantId'
        capability:
          type: string
        resource:
          type: [string, 'null']
        intent_id:
          anyOf:
            - $ref: '#/components/schemas/IntentId'
            - type: 'null'
        expires_at:
          type: [integer, 'null']
        one_shot:
          type: boolean
        before_status:
          anyOf:
            - type: string
              enum: [active, inactive]
            - type: 'null'
        after_status:
          type: string
          enum: [active, inactive]
        created_at:
          type: integer

    AuthorizationAdministrationHistory:
      type: object
      additionalProperties: false
      required: [events, order, has_more]
      description: Canonical bounded read-only committed authorization-administration history window.
      properties:
        events:
          type: array
          items:
            $ref: '#/components/schemas/AuthorizationAdministrationEvent'
        order:
          type: string
          enum: [desc, asc]
        has_more:
          type: boolean
          description: Whether another page exists in the selected traversal direction.

    AuthorizationAdministrationHistoryEnvelope:
      type: object
      additionalProperties: false
      required: [history]
      properties:
        history:
          $ref: '#/components/schemas/AuthorizationAdministrationHistory'

    DurableAuthorizationGrantCreateRequest:
      type: object
      additionalProperties: false
      required: [principal_provider, principal_subject, participant_id, capability]
      properties:
        principal_provider:
          type: string
          minLength: 1
          maxLength: 256
        principal_subject:
          type: string
          minLength: 1
          maxLength: 256
        participant_id:
          $ref: '#/components/schemas/ParticipantId'
        capability:
          type: string
          minLength: 1
          maxLength: 128
        resource:
          type: [string, 'null']
          maxLength: 256

    DelegatedAuthorizationGrantCreateRequest:
      type: object
      additionalProperties: false
      required: [principal_provider, principal_subject, participant_id, capability, one_shot]
      properties:
        principal_provider:
          type: string
          minLength: 1
          maxLength: 256
        principal_subject:
          type: string
          minLength: 1
          maxLength: 256
        participant_id:
          $ref: '#/components/schemas/ParticipantId'
        capability:
          type: string
          minLength: 1
          maxLength: 128
        resource:
          type: [string, 'null']
          maxLength: 256
        intent_id:
          anyOf:
            - $ref: '#/components/schemas/IntentId'
            - type: 'null'
        expires_at:
          type: [integer, 'null']
          description: Optional future Unix timestamp enforced by the canonical administration service.
        one_shot:
          type: boolean

    AuthorizationGrantMutationOutcome:
      type: object
      additionalProperties: false
      required: [store, id, state]
      properties:
        store:
          type: string
          enum: [durable, delegated]
        id:
          type: integer
          minimum: 1
        state:
          type: string
          enum: [created, existing, reactivated, inactive]
        rows_changed:
          type: integer
          minimum: 0
          description: Present on deactivation outcomes; zero means the idempotent request changed no policy row.

    AuthorizationGrantMutationEnvelope:
      type: object
      additionalProperties: false
      required: [grant]
      properties:
        grant:
          $ref: '#/components/schemas/AuthorizationGrantMutationOutcome'

    DurableGrantSnapshot:
      type: object
      additionalProperties: false
      required: [id, principal_provider, principal_subject, participant_id, capability, resource, status, created_at, updated_at]
      description: Non-secret durable authorization grant inventory record.
      properties:
        id:
          type: integer
          minimum: 1
        principal_provider:
          type: string
          minLength: 1
        principal_subject:
          type: string
          minLength: 1
        participant_id:
          $ref: '#/components/schemas/ParticipantId'
        capability:
          type: string
          minLength: 1
        resource:
          type: [string, 'null']
        status:
          type: string
          enum: [active, inactive]
        created_at:
          type: integer
        updated_at:
          type: integer

    DelegatedGrantSnapshot:
      type: object
      additionalProperties: false
      required: [id, principal_provider, principal_subject, participant_id, capability, resource, intent_id, expires_at, one_shot, consumed_at, consumed_intent_id, status]
      description: Non-secret delegated authorization grant inventory record including lifecycle and consumption state.
      properties:
        id:
          type: integer
          minimum: 1
        principal_provider:
          type: string
          minLength: 1
        principal_subject:
          type: string
          minLength: 1
        participant_id:
          $ref: '#/components/schemas/ParticipantId'
        capability:
          type: string
          minLength: 1
        resource:
          type: [string, 'null']
        intent_id:
          anyOf:
            - $ref: '#/components/schemas/IntentId'
            - type: 'null'
        expires_at:
          type: [integer, 'null']
        one_shot:
          type: boolean
        consumed_at:
          type: [integer, 'null']
        consumed_intent_id:
          anyOf:
            - $ref: '#/components/schemas/IntentId'
            - type: 'null'
        status:
          type: string
          enum: [active, inactive]

    AuthorizationPolicyWindow:
      type: object
      additionalProperties: false
      required: [store, durable_grants, delegated_grants, order, has_more]
      description: Canonical bounded privileged read-only window over one explicit Blackboard authorization grant store.
      properties:
        store:
          type: string
          enum: [durable, delegated]
        durable_grants:
          type: array
          items:
            $ref: '#/components/schemas/DurableGrantSnapshot'
        delegated_grants:
          type: array
          items:
            $ref: '#/components/schemas/DelegatedGrantSnapshot'
        order:
          type: string
          enum: [desc, asc]
        has_more:
          type: boolean
          description: Whether another page exists in the selected store and traversal direction.

    AuthorizationPolicyEnvelope:
      type: object
      additionalProperties: false
      required: [policy]
      properties:
        policy:
          $ref: '#/components/schemas/AuthorizationPolicyWindow'

    AuthorizationDecisionExplanation:
      type: object
      additionalProperties: false
      required: [allowed, source, reason, grant_id, consume_on_commit]
      description: Canonical non-secret read-only explanation of one authorization decision.
      properties:
        allowed:
          type: boolean
        source:
          type: string
        reason:
          type: string
        grant_id:
          anyOf:
            - type: integer
              minimum: 1
            - type: 'null'
        consume_on_commit:
          type: boolean

    AuthorizationDecisionEnvelope:
      type: object
      additionalProperties: false
      required: [decision]
      properties:
        decision:
          $ref: '#/components/schemas/AuthorizationDecisionExplanation'

    AuthorizationIntegrityViolation:
      type: object
      additionalProperties: false
      required: [kind, store, grant_id, participant_id, detail]
      description: Non-secret read-only classification of malformed or ambiguous authorization-policy state.
      properties:
        kind:
          type: string
        store:
          type: string
        grant_id:
          type: [integer, 'null']
          minimum: 1
        participant_id:
          anyOf:
            - $ref: '#/components/schemas/ParticipantId'
            - type: 'null'
        detail:
          type: string

    AuthorizationIntegrityReport:
      type: object
      additionalProperties: false
      required: [valid, durable_grants_scanned, delegated_grants_scanned, violations]
      description: Canonical read-only integrity report over Blackboard authorization policy objects.
      properties:
        valid:
          type: boolean
        durable_grants_scanned:
          type: integer
          minimum: 0
        delegated_grants_scanned:
          type: integer
          minimum: 0
        violations:
          type: array
          items:
            $ref: '#/components/schemas/AuthorizationIntegrityViolation'

    AuthorizationIntegrityEnvelope:
      type: object
      additionalProperties: false
      required: [integrity]
      properties:
        integrity:
          $ref: '#/components/schemas/AuthorizationIntegrityReport'

    Identity:
      type: object
      required: [source, instance]
      properties:
        source:
          type: string
        instance:
          type: string
        label:
          type: [string, 'null']
        role:
          type: string
        session_type:
          type: string

    AuthSession:
      type: object
      required: [source, instance, role, session_type, session_token, expires_at]
      properties:
        source:
          type: string
        instance:
          type: string
        label:
          type: [string, 'null']
        role:
          type: string
        session_type:
          type: string
          enum: [human-web, guest]
        session_token:
          type: string
        expires_at:
          type: integer
          description: Unix timestamp in seconds.

    ChannelMetadata:
      type: object
      required: [channel, visibility, status, created_at, updated_at, created_by]
      properties:
        channel:
          type: string
        visibility:
          type: string
          enum: [public, private]
        status:
          type: string
          enum: [active, archived]
        created_at:
          type: integer
        updated_at:
          type: integer
        created_by:
          type: [string, 'null']

    ChannelSummary:
      allOf:
        - $ref: '#/components/schemas/ChannelMetadata'
        - type: object
          required: [message_count, last_id]
          properties:
            message_count:
              type: integer
              minimum: 0
            last_id:
              type: integer
              minimum: 0

    Message:
      type: object
      required: [id, created_at, channel, source, instance, conversation_ref, kind, body, reply_to]
      properties:
        id:
          type: integer
        created_at:
          type: integer
          description: Unix timestamp in seconds.
        channel:
          type: string
        source:
          type: string
        instance:
          type: string
        conversation_ref:
          $ref: '#/components/schemas/ConversationRef'
        kind:
          type: string
        body:
          type: string
        reply_to:
          type: [integer, 'null']

    NewMessage:
      type: object
      required: [channel, body]
      additionalProperties: false
      properties:
        channel:
          type: string
        kind:
          type: string
          default: message
        body:
          type: string
        reply_to:
          type: [integer, 'null']
          minimum: 1

    CreateChannel:
      type: object
      required: [name]
      additionalProperties: false
      properties:
        name:
          type: string
        visibility:
          type: string
          enum: [public, private]
          default: private

    UpdateChannel:
      type: object
      minProperties: 1
      additionalProperties: false
      properties:
        visibility:
          type: string
          enum: [public, private]
        status:
          type: string
          enum: [active, archived]

    Error:
      type: object
      required: [error]
      properties:
        error:
          type: string
